@mixin bg-img($path,$size) {
  background-image: url(#{$path}@2x.png);
  background-size: $size;
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url(#{$path}@3x.png);
    background-size: $size;
    background-repeat: no-repeat;
  }
}

